<%= form_with model: @notification, local: true, class: "space-y-4" do |form| %>
  <div class="mb-4">
    <%= form.label :user, class: "block text-gray-700" %>
    <%= form.text_field :user, class: "mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :message, class: "block text-gray-700" %>
    <%= form.text_area :message, class: "mt-1 block w-full border border-gray-300 rounded p-2" %>
  </div>

  <div class="mb-4">
    <%= form.label :status, class: "block text-gray-700" %>
    <%= form.select :status, 
          options_for_select(["pendente", "enviada"], @notification.status || "pendente"), 
          {}, 
          class: "border rounded w-full py-2 px-3" %>
  </div>

  <div class="mt-6">
    <%= form.submit "Enviar Notificação", 
          class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded cursor-pointer transition-colors" %>
  </div>
<% end %>
