<%= form_with(model: notification, local: true) do |form| %>
  <div class="mb-4">
    <%= form.label :user, class: "block font-bold" %>
    <%= form.text_field :user, class: "border rounded p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :message, class: "block font-bold" %>
    <%= form.text_area :message, class: "border rounded p-2 w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :sent_at, "Data de Envio", class: "block font-bold" %>
    <%= form.datetime_select :sent_at, class: "border rounded p-2 w-full" %>
  </div>

  <div>
    <%= form.submit class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
