<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "erro") %> impediram este agendamento de ser salvo:</h2>
      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, "Título" %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :scheduled_for, "Data e hora" %><br>
    <%= form.datetime_select :scheduled_for %>
  </div>

  <div class="field">
    <%= form.label :description, "Descrição" %><br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :client_id, "Cliente" %><br>
    <%= form.collection_select :client_id, current_user.clients, :id, :name, { prompt: "Selecione um cliente" } %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar Agendamento", class: "btn btn-primary" %>
  </div>
<% end %>