<h1>Agendamentos</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Data e Hora</th>
      <th>Cliente</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.scheduled_for.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= appointment.client.name %></td>
        <td><%= appointment.description %></td>
        <td>
          <%= link_to 'Ver', appointment_path(appointment) %> |
          <%= link_to 'Editar', edit_appointment_path(appointment) %> |
          <%= link_to 'Excluir', appointment_path(appointment), method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Novo Agendamento', new_appointment_path %>
